<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/special.css" />
		<link rel="stylesheet" type="text/css" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://unpkg.com/element-ui/lib/index.js" type="text/javascript"></script>
		<script src="js/jquery.js"></script>
	</head>
	<body>
		<div class="content" ref="content" >
			<img class="banner_img" src="img/banner.png" alt="">
			<!-- 招生资讯 -->
			<div class="hot_information">
				<div class="info_tittle">
					<div>热点资讯</div>
					<a class="information_more" href="">查看更多</a>
				</div>
				<div class="hot_art1">
					<a href="" class="hot_art1_tittle">自主招生真题评析 2011年自主招生面试题汇总</a>
					<p href="" class="hot_art1_content">北大部分笔试题揭秘 北京语言大学笔试题 清华作文考忧患意识...</p>
					<div class="hot_art1_date">2019.10.18<span>详情></span></div>
				</div>
				<div class="hot_split"></div>
				<div class="hot_art1 hot_art2">
					<a href="" class="hot_art1_tittle">自主招生真题评析 2011年自主招生面试题汇总</a>
					<p href="" class="hot_art1_content">北大部分笔试题揭秘 北京语言大学笔试题 清华作文考忧患意识...</p>
					<div class="hot_art1_date">2019.10.18<span>详情></span></div>
				</div>
			</div>
			<!-- 招生咨询结束 -->

			<!-- 常见问题 -->
			<div class="problem">
				<div class="info_tittle">
					<div>常见问题</div>
					<a href="" class="problem_more">换一批</a>
				</div>
				<div class="qa_model qa_model_first">
					<div class="qa_model_q">
						<div>Q</div>
						<a href="">河南专升本难吗？现在开始来得及吗？</a>
						<img src="img/problem-eye.png" alt="">
						<span>123</span>
					</div>
					<div class="qa_model_a">
						<div>A</div>
						<div>河南专升本考试对于我们真的很难吗?它真正的难点在哪儿?很多想要考专升本的同学都会被专升…</div>
					</div>
				</div>

				<div class="qa_model qa_model_second">
					<div class="qa_model_q">
						<div>Q</div>
						<a href="">河南专升本难吗？现在开始来得及吗？</a>
						<img src="img/problem-eye.png" alt="">
						<span>123</span>
					</div>
					<div class="qa_model_a ">
						<div>A</div>
						<div>河南专升本考试对于我们真的很难吗?它真正的难点在哪儿?很多想要考专升本的同学都会被专升…</div>
					</div>
				</div>
			</div>
			<!-- 常见问题结束 -->
			<!-- 特殊招生介绍 -->
			<div class="special_intro">
				<p class="intro_tittle">什么叫特殊招生？</p>
				<div class="intro_content">特殊招生并没有严格的定义，一般是指除了通常的经过普通高等学校招生全国统一考试并按规定程序录取新生之外，国家教育部所制…<a href="">[详情]</a></div>
				<div class="intro_list">
					<a class="intro_item"><span></span>自主招生</a>
					<a class="intro_item"><span></span>保送生</a>
					<a class="intro_item"><span></span>艺术类专业　</a>
					<a class="intro_item"><span></span>体育类专业</a>
					<a class="intro_item"><span></span>高校专项计划</a>
					<a class="intro_item"><span></span>高水平艺术团</a>
					<a class="intro_item"><span></span>高水平运动队　</a>
					<a class="intro_item"><span></span>空军招飞</a>
				</div>
			</div>
			<!-- 特殊招生介绍结束 -->


			<!-- 自主招生 -->
			<div id="enroll_self" class="enroll_self" ref="scrollItem0" >

				<div class="info_tittle">
					<div>自主招生</div>
					<a class="information_more" href="">查看更多</a>
				</div>

				<div class="enroll_left_wrap">
					<!-- 左上区 -->
					<div class="enro_l_top">
						<div class="policy_art1 normal_art1">
							<img src="img/xianggang.png" alt="">
							<div class="policy_art1_info normal_art1_info">
								<p>香港科技大学曾在京面试 神州九号成考题… </p>
								<p>港科大面试题延续了往年关注现实的特点，“神九飞天”等时政热…</p>
								<p>2019.10.15</p>
							</div>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>2019年南京体育学院运动训练、武术与..
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>郑州大学体育学院顺利完成2019年全...
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>华南理工大学2019年运动训练专业招生…
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
					</div>

					<!-- 招生简章 -->
					<div class="enroll_catalog">
						<div class="list_tittle">招生简章 <a href="">查看更多></a></div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>中国人民大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京科技大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京林业大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京师范大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京理工大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
					</div>
					<!-- 招生简章结束 -->

					<!-- 自荐信 -->
					<div class="reference_letter">
						<div class="list_tittle">自荐信 <a href="">查看更多></a></div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>中国人民大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京科技大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京林业大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京师范大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京理工大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
					</div>
					<!-- 自荐信结束 -->

					<!-- 笔试题 -->
					<div class="interview_questions">
						<div class="list_tittle">笔试题&面试题 <a href="">查看更多></a></div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>中国人民大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京科技大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京林业大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京师范大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京理工大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
					</div>
					<!-- 笔试题结束 -->

				</div>
				<div class="regist_process">
					<div class="regist_tittle">
						<img src="img/regist.png" alt="">
						报考流程
					</div>
					<div class="time_line">
						<el-timeline>
							<el-timeline-item v-for="(item,index) in enrollSelfRegist" :size="enrollSelfIndex===index?'large':'normal'"
							 :color="enrollSelfIndex===index?'#053C78':''">
								<div class="time_item " :class="[enrollSelfIndex===index?'enrollSelfChoosed ':'']" @click="enrollSelfChange(index)">
									<div class="arrow_left" :class="[enrollSelfIndex===index?'arrow_left_choosed':'']"></div>
									<p>{{item.time}}</p>
									<p>{{item.content}}</p>
								</div>
							</el-timeline-item>
						</el-timeline>
					</div>
				</div>
			</div>
			<!-- 自主招生结束 -->

			<img class="banner_middle" src="img/banner-middle.png" alt="">

			<!-- 高校专项计划 -->
			<div class="enroll_self" ref="scrollItem1">

				<div class="info_tittle">
					<div>高校专项计划</div>
					<a class="information_more" href="">查看更多</a>
				</div>

				<div class="enroll_left_wrap">
					<!-- 左上区 -->
					<div class="enro_l_top">
						<div class="policy_art1 normal_art1">
							<img src="img/high-plan.png" alt="">
							<div class="policy_art1_info normal_art1_info">
								<p>香港科技大学曾在京面试 神州九号成考题… </p>
								<p>港科大面试题延续了往年关注现实的特点，“神九飞天”等时政热…</p>
								<p>2019.10.15</p>
							</div>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>2019年南京体育学院运动训练、武术与..
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>郑州大学体育学院顺利完成2019年全...
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>华南理工大学2019年运动训练专业招生…
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
					</div>

					<!-- 招生简章 -->
					<div class="enroll_catalog">
						<div class="list_tittle">招生简章 <a href="">查看更多></a></div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>中国人民大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京科技大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京林业大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京师范大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京理工大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
					</div>
					<!-- 招生简章结束 -->

					<!-- 报名条件 -->
					<div class="reference_letter">
						<div class="list_tittle">报名条件 </div>
						<div class="high_qa qa_model_a ">
							<div>1</div>
							<div>符合2019年统一高考报名条件；</div>
						</div>
						<div class="high_qa qa_model_a ">
							<div>2</div>
							<div>本人及父亲或母亲或法定监护人户籍地在实施区域的农村，本人具有当地连续3年以上户籍；</div>
						</div>
						<div class="high_qa qa_model_a ">
							<div>3</div>
							<div>本人具有户籍所在县高中连续3年学籍并实际就读。</div>
						</div>
					</div>
					<!-- 报名条件结束 -->

					<!-- 实施区域&志愿及录取 -->
					<div class="implementation_area interview_questions">
						<div class="list_tittle">实施区域&志愿及录取 </div>
						<p>高校专项计划具体实施区域由有关省（区、市）确定。一般各省招生考试机构（教育考试院、省招办）会公布具体实施区域。</p>
						<p>高校专项计划招生办法由有关高校确定并在招生简章中明确。依据考生高考成绩和填报志愿进行录取。录取分数原则上不低于有关高校普通类招生所在批次录取控…</p>
					</div>
					<!-- 实施区域&志愿及录取 -->

				</div>
				<div class="regist_process">
					<div class="regist_tittle">
						<img src="img/regist.png" alt="">
						报考流程
					</div>
					<div class="time_line">
						<el-timeline>
							<el-timeline-item v-for="(item,index) in enrollSelfRegist" :size="enrollSelfIndex===index?'large':'normal'"
							 :color="enrollSelfIndex===index?'#053C78':''">
								<div class="time_item " :class="[enrollSelfIndex===index?'enrollSelfChoosed ':'']" @click="enrollSelfChange(index)">
									<div class="arrow_left" :class="[enrollSelfIndex===index?'arrow_left_choosed':'']"></div>
									<p>{{item.time}}</p>
									<p>{{item.content}}</p>
								</div>
							</el-timeline-item>
						</el-timeline>
					</div>
				</div>
			</div>
			<!-- 高校专项计划结束 -->

			<!-- 保送生 -->
			<div class="enroll_self" ref="scrollItem2">

				<div class="info_tittle">
					<div>保送生</div>
					<a class="information_more" href="">查看更多</a>
				</div>

				<div class="enroll_left_wrap">
					<!-- 左上区 -->
					<div class="enro_l_top">
						<div class="policy_art1 normal_art1">
							<img src="img/baosong.png" alt="">
							<div class="policy_art1_info normal_art1_info">
								<p>香港科技大学曾在京面试 神州九号成考题… </p>
								<p>港科大面试题延续了往年关注现实的特点，“神九飞天”等时政热…</p>
								<p>2019.10.15</p>
							</div>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>2019年南京体育学院运动训练、武术与..
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>郑州大学体育学院顺利完成2019年全...
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>华南理工大学2019年运动训练专业招生…
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
					</div>

					<!-- 招生简章 -->
					<div class="enroll_catalog">
						<div class="list_tittle">招生简章 <a href="">查看更多></a></div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>中国人民大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京科技大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京林业大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京师范大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京理工大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
					</div>
					<!-- 招生简章结束 -->

					<!-- 保送生须知 -->
					<div class="reference_letter">
						<div class="list_tittle">保送生须知 <a href="">查看更多></a></div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>保送生与自主 招生有哪些区别？
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>保送生的目 的和意义是什么？
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>保送生需要 参加文化考试吗？
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>2019高考保 送政策有哪些调整？
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>高校招收保 送生工作步骤？
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
					</div>
					<!-- 保送生须知结束 -->

					<!-- 保送生程序&条件 -->
					<div class="interview_questions">
						<div class="list_tittle">保送生程序&条件 <a href="">查看更多></a></div>
						<div class="recomend_program">
							<p>一、高校合理编制招收保送生计划，并纳入国家核定 的本校当年招生总计划内。</p>
							<p>二、招收保送生的高校应根据教育部、国家体育…<a href="">[详细]</a></p>

						</div>
						<div class="recomend_condition">
							<p>一、高校合理编制招收保送生计划，并纳入国家核定 的本校当年招生总计划内。</p>
							<p>二、招收保送生的高校应根据教育部、国家体育…<a href="">[详细]</a></p>

						</div>
					</div>
					<!-- 笔试题结束 -->

				</div>
				<div class="regist_process">
					<div class="regist_tittle">
						<img src="img/regist.png" alt="">
						保送生录取流程
					</div>
					<div class="recomend_timeline time_line">
						<el-timeline>
							<el-timeline-item v-for="(item,index) in enrollSelfRegist" :size="enrollSelfIndex===index?'large':'normal'"
							 :color="enrollSelfIndex===index?'#053C78':''">
								<div class="time_item " :class="[enrollSelfIndex===index?'enrollSelfChoosed ':'']" @click="enrollSelfChange(index)">
									<div class="arrow_left" :class="[enrollSelfIndex===index?'arrow_left_choosed':'']"></div>
									<p>{{item.time}}</p>
									<p>{{item.content}}</p>
								</div>
							</el-timeline-item>
						</el-timeline>
					</div>

					<img class="recomend_regist_img" src="img/baosong-registe.png" alt="">
				</div>
			</div>
			<!-- 保送生结束 -->


			<!-- 高水平艺术团 -->
			<div class="enroll_self" ref="scrollItem3">

				<div class="info_tittle">
					<div>高水平艺术团</div>
					<a class="information_more" href="">查看更多</a>
				</div>

				<div class="enroll_left_wrap">
					<!-- 左上区 -->
					<div class="enro_l_top">
						<div class="policy_art1 normal_art1">
							<img src="img/yishutuan.png" alt="">
							<div class="policy_art1_info normal_art1_info">
								<p>香港科技大学曾在京面试 神州九号成考题… </p>
								<p>港科大面试题延续了往年关注现实的特点，“神九飞天”等时政热…</p>
								<p>2019.10.15</p>
							</div>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>2019年南京体育学院运动训练、武术与..
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>郑州大学体育学院顺利完成2019年全...
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>华南理工大学2019年运动训练专业招生…
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
					</div>

					<!-- 招生简章 -->
					<div class="enroll_catalog">
						<div class="list_tittle">招生简章 <a href="">查看更多></a></div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>中国人民大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京科技大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京林业大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京师范大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京理工大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
					</div>
					<!-- 招生简章结束 -->

					<!-- 考生须知 -->
					<div class="reference_letter">
						<div class="list_tittle">考生须知 <a href="">查看更多></a></div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>保送生与自主 招生有哪些区别？
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>保送生的目 的和意义是什么？
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>保送生需要 参加文化考试吗？
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>2019高考保 送政策有哪些调整？
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>高校招收保 送生工作步骤？
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
					</div>
					<!-- 考生须知结束 -->

					<!-- 政策变化 -->
					<div class="interview_questions">
						<div class="list_tittle">政策变化 <a href="">查看更多></a></div>
						<div class="recomend_program">
							<p>变化一</p>
							<p>主要招收音乐、舞蹈、戏剧类艺术团。美术美术、书法、播音与主持专业不再招生。</p>
							<p>变化二</p>
							<p>2019年极少数艺术团测试成绩突出的考生人数不超过学校当年艺术团招生计划的10% …<a href="">[详细]</a></p>

						</div>
					</div>
					<!-- 政策变化结束 -->

				</div>
				<div class="regist_process">
					<div class="regist_tittle">
						<img src="img/regist.png" alt="">
						报考流程
					</div>
					<div class="time_line">
						<el-timeline>
							<el-timeline-item v-for="(item,index) in enrollSelfRegist" :size="enrollSelfIndex===index?'large':'normal'"
							 :color="enrollSelfIndex===index?'#053C78':''">
								<div class="time_item " :class="[enrollSelfIndex===index?'enrollSelfChoosed ':'']" @click="enrollSelfChange(index)">
									<div class="arrow_left" :class="[enrollSelfIndex===index?'arrow_left_choosed':'']"></div>
									<p>{{item.time}}</p>
									<p>{{item.content}}</p>
								</div>
							</el-timeline-item>
						</el-timeline>
					</div>
				</div>
			</div>
			<!-- 高水平艺术团结束 -->

			<!-- 高水平运动队 -->
			<div class="enroll_self" ref="scrollItem4">

				<div class="info_tittle">
					<div>高水平运动队</div>
					<a class="information_more" href="">查看更多</a>
				</div>

				<div class="enroll_left_wrap">
					<!-- 左上区 -->
					<div class="enro_l_top">
						<div class="policy_art1 normal_art1">
							<img src="img/yuundongdui.png" alt="">
							<div class="policy_art1_info normal_art1_info">
								<p>香港科技大学曾在京面试 神州九号成考题… </p>
								<p>港科大面试题延续了往年关注现实的特点，“神九飞天”等时政热…</p>
								<p>2019.10.15</p>
							</div>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>2019年南京体育学院运动训练、武术与..
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>郑州大学体育学院顺利完成2019年全...
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>华南理工大学2019年运动训练专业招生…
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
					</div>

					<!-- 招生简章 -->
					<div class="enroll_catalog">
						<div class="list_tittle">招生简章 <a href="">查看更多></a></div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>中国人民大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京科技大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京林业大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京师范大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>北京理工大学招生简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
					</div>
					<!-- 招生简章结束 -->

					<!-- 招生要求 -->
					<div class="reference_letter">
						<div class="list_tittle">招生要求 <a href="">查看更多></a></div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>高水平运动队招生规模
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>考试招生办法
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>高考文化成绩录取要求
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>文化课单独考试录取方式
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>高水平运动队管理
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
					</div>
					<!-- 招生要求结束 -->

					<!-- 报名条件 -->
					<div class="interview_questions">
						<div class="list_tittle">政策变化 <a href="">查看更多></a></div>
						<div class="recomend_program">

							<p>(一)高级中等教育学校毕业，获得国家二级运动员(含)以上证书且高中阶段在省级(含)以上比赛中获得集体项目前六名的主力队员或个人项目前三名者；<br>(二)具有高级中等教育毕业同等学力，获得国家一级运动员(含)以上证书者或近三年内在全国或国际集体项目比赛中获得前八名的主力队员。凡以…<a
								 href="">[详细]</a></p>

						</div>
					</div>
					<!-- 报名条件结束 -->

				</div>
				<div class="regist_process">
					<!-- 报考须知 -->
					<div class="sport_regist enroll_catalog">
						<div class="list_tittle">报考须知 <a href="">查看更多></a></div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>一文解答高考体育报考相关疑惑
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>2019年高水平运动队招生政策
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>高水平运动队报名条件
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>具有招收高水平运动队资格的高校名单
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>明年高考“体育单招”管理办法出炉
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
					</div>
					<img class="sport_team_img1" src="img/sport-1.png" alt="">
					<img class="sport_team_img2" src="img/sport-2.png" alt="">
					<!-- 报考须知结束 -->
				</div>
			</div>
			<!-- 高水平运动队结束 -->


			<!-- 其他招生 -->
			<div class="enroll_self" ref="scrollItem5">

				<div class="info_tittle">
					<div>其他招生
						<div class="other_list tittle_left">
							<a  v-for="(item,index) in enrollOthers" @click="enrollOthersChange(index)" :class="[enrollOthersIndex===index?'normalChoosed':'']">{{item}}</a> 
						</div>
					</div>
					<a class="information_more" href="">查看更多</a>
				</div>

				<div class="enroll_left_wrap">
					<!-- 左上区 -->
					<div class="enro_l_top">
						<div class="policy_art1 normal_art1">
							<img src="img/enroll.png" alt="">
							<div class="policy_art1_info normal_art1_info">
								<p>香港科技大学曾在京面试 神州九号成考题… </p>
								<p>港科大面试题延续了往年关注现实的特点，“神九飞天”等时政热…</p>
								<p>2019.10.15</p>
							</div>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>2019年南京体育学院运动训练、武术与..
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>郑州大学体育学院顺利完成2019年全...
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>华南理工大学2019年运动训练专业招生…
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
					</div>

					<!-- 招生动态 -->
					<div class="enroll_catalog">
						<div class="list_tittle">招生动态 <a href="">查看更多></a></div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>2020年度辽宁省招飞招生初选安排
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>2020年湖南省空军招飞初选检测安排表
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>2020年度湖北省空军招飞初选检测安排表
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>2020年广西区空军招飞初选检测安排表
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>2020年空军招收飞行学员简章
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
					</div>
					<!-- 招生动态结束 -->

					<!-- 考生须知 -->
					<div class="reference_letter">
						<div class="list_tittle">招生要求 <a href="">查看更多></a></div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>空军招飞属于军校招生吗?
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>如何报考空军飞行员?
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>身上有伤疤可以报考吗?
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>报考空军飞行员需要花钱送礼找关系吗?
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
						<div class="artlist">
							<a href="" class="artlist_content">
								<div></div>清华、北大和北航“双学籍”飞行员班是…
							</a>
							<p class="artlist_date">2019.10.15</p>
						</div>
					</div>
					<!-- 考生须知结束 -->

					<!-- 报考条件 -->
					<div class="interview_questions">
						<div class="list_tittle">报考条件 <a href="">查看更多></a></div>
						<div class="recomend_program">

							<p>(一)高级中等教育学校毕业，获得国家二级运动员(含)以上证书且高中阶段在省级(含)以上比赛中获得集体项目前六名的主力队员或个人项目前三名者；<br>(二)具有高级中等教育毕业同等学力，获得国家一级运动员(含)以上证书者或近三年内在全国或国际集体项目比赛中获得前八名的主力队员。凡以…<a
								 href="">[详细]</a></p>

						</div>
					</div>
					<!-- 报考条件结束 -->

				</div>
				<div class="regist_process">
					<!-- 报考流程 -->
					<div class="regist_tittle">
						<img src="img/regist.png" alt="">
						报考流程
					</div>
					<div class="enroll_others_regist time_line">
						<el-timeline>
							<el-timeline-item v-for="(item,index) in enrollSelfRegist" :size="enrollSelfIndex===index?'large':'normal'"
							 :color="enrollSelfIndex===index?'#053C78':''">
								<div class="time_item " :class="[enrollSelfIndex===index?'enrollSelfChoosed ':'']" @click="enrollSelfChange(index)">
									<div class="arrow_left" :class="[enrollSelfIndex===index?'arrow_left_choosed':'']"></div>
									<p>{{item.time}}</p>
									<p>{{item.content}}</p>
								</div>
							</el-timeline-item>
						</el-timeline>
					</div>
					<!-- 报考流程结束 -->
					
					<!-- 空军航空大学简介 -->
					<div class="interview_questions">
						<div class="list_tittle">空军航空大学简介 <a href="">查看更多></a></div>
						<img class="enroll_others_img" src="img/enroll_other.png" alt="">
					</div>
					<!-- 空军航空大学简介结束 -->
				</div>
			</div>
			<!-- 其他招生结束 -->
			<img class="banner_bottom" src="img/banner-bottom.png" alt="">
			
			<!-- 固定导航 -->
			<div class="fixed_box" :class="[fixedShow===1?'fixed_show':'']">
				<div class="fixed_item" v-for="(item,index) in fixedList" v-html="item" @click="jump(index)" :class="[fixedIndex===index?'fixed_choosed':'']">
					
				</div>
			</div>
			<!-- 固定导航结束 -->
		</div>
		
		
		<script type="text/javascript">
			var vm = new Vue({
				el: ".content",
				data: {
					enrollSelfRegist: [{
							time: '3月初',
							content: '高校发布招生简章'
						},
						{
							time: '3月初',
							content: '高校发布招生简章'
						},
						{
							time: '3月初',
							content: '高校发布招生简章'
						},
						{
							time: '3月初',
							content: '高校发布招生简章'
						},
						{
							time: '3月初',
							content: '高校发布招生简章'
						},
						{
							time: '3月初',
							content: '高校发布招生简章'
						},
						{
							time: '3月初',
							content: '高校发布招生简章'
						}
					],
					enrollSelfIndex: 0,
					enrollOthers:[
						'空军招飞','海军招飞' , '民航招飞' ,'军校招生','公安院校','政法招生' , '公费师范生'
					],
					enrollOthersIndex: 0,
					fixedList:[
						'自主<br>招生',
						'高校专<br>项计划',
						'保送<br>生',
						'高水平<br>艺术团',
						'高水平<br>运动队',
						'其他<br>招生'
						],
					fixedIndex:0,
					fixedShow:0
				},
				mounted() {
					
				},
				methods: {
					enrollSelfChange: function(index) {
						console.log(index);
						this.enrollSelfIndex = index
					},
					jump: function(index) {
						console.log($('html'),this.$refs['scrollItem'+index].offsetTop)
						$('html').animate({scrollTop:this.$refs['scrollItem'+index].offsetTop},'slow') ;
					},
					enrollOthersChange: function(index) {
						this.enrollOthersIndex=index
					}
				}
			})
			var elBody=document.getElementsByTagName('body')[0],
				elHtml=document.getElementsByTagName('html')[0],
				arrScroll=document.getElementsByClassName('enroll_self');
				fixedJudge();
				elBody.onscroll=fixedJudge;
				function fixedJudge(){
					if(elHtml.scrollTop >= arrScroll[0].offsetTop){
						vm.$data.fixedShow=1
					}else{
						vm.$data.fixedShow=0
					};
					for(var i=0; i < arrScroll.length; i++){
						if(elHtml.scrollTop >= arrScroll[i].offsetTop){
							vm.$data.fixedIndex=i;
							console.log(elHtml.scrollTop,arrScroll[i].offsetTop)
						}
					}
				}
		</script>
		
	</body>
</html>
